<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/styles/style.css" rel="stylesheet">
<title>Home</title>
</head>

<body>
    <header>
        <a href="/"><img id="logo" src="../images/logo.png" alt="logo"></a>
        <h1>Tesla Owner Club</h1>
        <nav id="account">
            <a href="/connections/newConnection">Start A New Event Now!</a>
            ||
            <a href="#">Login</a>
            ||
            <a href="#">Sign up</a>
            
        </nav>
    </header>
    
    <main>
        <nav id="general">
            <a href="/">Home</a>
            ||
            <a href="/connections/connections">Connections</a>
            
        </nav>