<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/styles/style.css" rel="stylesheet">
<title>Home</title>
</head>

<body>
    <header>
        <a href="/"><img id="logo" src="../images/logo.png" alt="logo"></a>
        <h1>Tesla Owner Club</h1>
        <nav id="account">
            <a href="/connections/newConnection">Start A New Event Now!</a>
            ||
            <%if(!user){%>
                <a href="/users/login">Login</a>
                ||
                <a href="/users/new">Sign up</a>
            <%} else{%>
                <a href="/users/profile">Profile</a>
                ||
                <a href="/users/logout">Logout</a>
            <%}%>
        </nav>
    </header>
    
    <main>
        <nav id="general">
            <a href="/">Home</a>
            ||
            <a href="/connections/connections">Connections</a>
            
        </nav>

        <% if(errorMessages.length > 0) {%>
            <% errorMessages.forEach(message=>{%>
                <div class='error'>
                    <%=message%>
                </div>
                <%});%>
                    <%}%>
        
                        <% if(successMessages.length > 0) {%>
        
                            <% successMessages.forEach(message=>{%>
                                <div class='success'>
                                    <%=message%>
                                </div>
                                <%});%>
                                    <%}%>