<%- include('../partials/header.ejs')%>
      
        <section>
            <h3>About</h3>
            <p>This connenctions site allows people to come add and find events to connect with other Tesla Owners.</p>
            <p>Meet other Tesla owners in your area!</p>
            <img src="images/three.png" alt="cars">
        </section>


<%- include('../partials/footer.ejs')%>