<%- include('../partials/header.ejs')%>

        
        <section id="form">
        <h2>Start a new connection!</h2>

        <form action='/connections' method='POST'>

                <label for="name">Name: </label>
                <input type="text" id="name" name="name" required>
                <br>
                <label for="topic">Topic: </label>
                <input type="text" id="topic" name="topic" required>
                <br>
                <label for="details">Details: </label>
                <input type="text" id="details" name="details" required minlength="10">
                <br>
                <label for="date">When: </label>
                <input type="date" id="date" name="date" required>
                <br>
                <label for="start">Start: </label>
                <input type="time" id="start" name="start" required>
                <br>
                <label for="end">End: </label>
                <input type="time" id="end" name="end" required>
                <br>
                <label for="host">Host: </label>
                <textarea name="host" id="host" name="host" required></textarea>
                <br>
                <br>
                <label for="location">Location: </label>
                <input name="text" id="location" name="location" required>
                <br>
                <label host="image">Image URL: </label>
                <input type="url" id="image" name="image" required>
                <br>

                <button>Create Connection</button>
            </form>
        </section>
        

 <%- include('../partials/footer.ejs')%>